mixin footer
  footer.footer
    .footer__wrapper
      p.footer__title Путь к богатству и могуществу
      .footer__footer
        span.footer__text © «NZT-48», 2022
        span.footer__text Согласие на обработку персональных данных
        span.footer__text Политика конфиденциальности
        span.footer__text Тестовое задание от Country
