include ./navigation

mixin header
  header.header
    +navigation({
      items: [
        {
          subtitle: 'Врачу',
          subitems: [
            {
              text: 'Материалы для изучения',
            },
            {
              text: 'Эффективность и безопасность',
            },
            {
              text: 'Вопрос/Ответ',
            },
            {
              text: 'Мнения специалистов',
            },
            {
              text: 'Информированное согласие',
            },
            {
              text: 'Дистрибьюторы',
            },
            {
              text: 'Обучение',
            },
            {
              text: 'Исследования и публикации',
            },
          ],
        },
        {
          subtitle: 'Пациенту',
          subitems: [
            {
              text: 'Эффективность и безопасность',
            },
            {
              text: 'Просто о сложном',
            },
            {
              text: 'Клиники',
            },
            {
              text: 'Мнения специалистов',
            },
            {
              text: 'Вопрос/Ответ',
            },
            {
              text: 'Аптеки',
            },
          ],
        },
        {
          subtitle: 'О препарате',
          subitems: [
            {
              text: 'История',
            },
            {
              text: 'Состав препарата',
            },
            {
              text: 'Инструкция',
            },
            {
              text: 'Механизм действия',
            },
            {
              text: 'Регистрационное удостоверение',
            },
            {
              text: 'Технология производства',
            },
          ],
        },
        {
          text: 'Журнал',
        },
        {
          text: 'Контакты',
        },
      ],
    })
    .header__wrapper
      h1.header__title Путь к богатству и могуществу
      a.header__hyperlink(href="#about") О препарате
