extends layout/page

block page
  h1 NZT-48
  h2 Путь к богатству и могуществу
  p Действует на клеточном уровне, улучшая метаболизм клеток и восстанавливая их нормальные функции.
  .logo
  .angle
  .loup
  img(src="./img/tablets.jpg" alt="tablets" width="355" height="200")
