extends layout/page

include mixin/header
include mixin/about
include mixin/section
include mixin/slider
include mixin/card
include mixin/card-wrapper

block page
  +header
  main.main
    +about({
      items: [
        {
          text: 'История',
        },
        {
          text: 'Технология производства',
        },
        {
          text: 'Инструкция',
        },
        {
          text: 'Состав препарата',
        },
        {
          text: 'Механизм действия',
        },
        {
          href: 'https://roszdravnadzor.gov.ru/services/misearch',
          text: 'Рег. удостоверение',
        },
      ]
    })
    article.article(id="about")
      .article__wrapper
        h2.article__title Препарат NZT-48
        p.article__content Действует на клеточном уровне, улучшая метаболизм клеток и восстанавливая их нормальные функции.
        p.article__content Благодаря этому достигается широчайший спектр медицинских показаний и становится возможным применение в самых разных областях медицины.
    +card-wrapper
      +card({
        title: 'Эффективность',
        text: 'Доказана многочисленными клиническими и лабораторными исследованиями',
      })
      +card({
        title: 'Безопасность',
        text: 'Не содержит гормонов, ферментов, витаминов и других биогенных стимуляторов',
      })
      +card({
        title: 'Высокие технологии',
        text: 'При производстве используются самые передовые технологии отбора, хранения и очистки',
      })
      +card({
        title: 'Уникальный состав',
        text: 'Сбалансированный состав биомолекул, так как соотношение компонентов создано природой, характерно для здоровой ткани и не просто стопроцентно усваивается, а встраивается в собственный метаболизм пациента',
      })
    +slider
      +section({
        img: './img/section-1.jpg',
        title: 'Что это за таблетка?! Я был предельно собран. Я не курил уже 6 часов, я не ел.',
        date: '5 апреля',
        text: 'О NZT-48',
      })
      +section({
        img: './img/section-2.jpg',
        title: 'Я был таким воздержанным и чистым… Что это? Лекарство для тех, кто заботиться о банальной чистоте? Я не был обкурен, я не был пьян, я был чистым!',
        date: '17 апреля',
        text: 'О побочных',
      })
