extends layout/page

include mixin/header
include mixin/about

block page
  +header
  +about({items: [
    {
      text: 'История',
    },
    {
      text: 'Технология производства',
    },
    {
      text: 'Инструкция',
    },
    {
      text: 'Состав препарата',
    },
    {
      text: 'Механизм действия',
    },
    {
      href: 'https://roszdravnadzor.gov.ru/services/misearch',
      text: 'Рег. удостоверение',
    },
  ]})
  main
    article.article(id="about")
      .article__wrapper
        h2.article__title Препарат NZT-48
        p.article__content Действует на клеточном уровне, улучшая метаболизм клеток и восстанавливая их нормальные функции.
        p.article__content Благодаря этому достигается широчайший спектр медицинских показаний и становится возможным применение в самых разных областях медицины.
