.hyperlink {
  text-decoration: none;
  font-size: 18px;

  &:focus {
    outline: 0;
    filter: drop-shadow(0 0 10px red);
  }

  &:link {
    color: #fdfdfd;
  }

  &:visited {
    color: #fdfdfd;
  }

  &:hover {
    color: #fdfdfd;
  }

  &:active {
    color: #fdfdfd;
  }
}
