@font-face {
  font-family: graphik;
  src:
    url('../font/graphik-lc-web-regular.woff2') format('woff2'),
    url('../font/graphik-lc-web-regular.woff') format('woff'),
    url('../font/graphik-lc-web-regular.ttf') format('ttf'),
    url('../font/graphik-lc-web-regular.eot') format('eot');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: graphik;
  src:
    url('../font/graphik-lc-web-medium.woff2') format('woff2'),
    url('../font/graphik-lc-web-medium.woff') format('woff'),
    url('../font/graphik-lc-web-medium.ttf') format('ttf'),
    url('../font/graphik-lc-web-medium.eot') format('eot');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: graphik;
  src:
    url('../font/graphik-lc-web-bold.woff2') format('woff2'),
    url('../font/graphik-lc-web-bold.woff') format('woff'),
    url('../font/graphik-lc-web-bold.ttf') format('ttf'),
    url('../font/graphik-lc-web-bold.eot') format('eot');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: country;
  src:
    url('../font/country.woff2') format('woff2'),
    url('../font/country.woff') format('woff'),
    url('../font/country.ttf') format('ttf'),
    url('../font/country.eot') format('eot');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

html {
  color: #797a84;
  font-size: 24px;
  font-family: graphik, Arial, sans-serif;
  line-height: 1.4em;
  background-color: #fdfdfd;
  user-select: none;
}

body {
  margin: 0;
  height: 300vh;
}
